<!-- ------------------------------- Navbar -------------------------------- -->
<nav class="navbar navbar-light bg-info-subtle">
  <div class="container-fluid">
    <h2>Restaurant Record app</h2>

    <div class="d-flex">
      <button class="btn btn-success">Add Restaurant</button>
    </div>
  </div>
</nav>

<!-- ------------------------------ Jumbotron ------------------------------ -->
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5">Restaurants record management</h1>
    <button class="btn btn-primary btn-lg">Resto</button>
  </div>
</div>
<!-- -------------------------------- Table -------------------------------- -->
<div class="container mt-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Restaurant ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile</th>
        <th scope="col">Address</th>
        <th scope="col">Services</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>1</td>
        <td>balaji</td>
        <td>balaji@gamil.com</td>
        <td>99999999999</td>
        <td>Location nakjldf</td>
        <td>Tea & coffee</td>
        <td>
          <button class="btn btn-info">Edit</button>&nbsp;
          <button class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
